.BoxCalendar {
  text-align: center;
  flex-basis: 50%;
  flex-grow: 0;
  /*border-style: solid;*/
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
  max-width: 62%;
  min-width: 62%;
}

.Calendar {
  text-align: center;
  flex-basis: 50%;
  flex-grow: 0;
  /* order-style: dotted; */
  padding-top: 1rem;
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
}
