/* .paddingBetweenCols th {
  padding: 0 5%;
  margin-left: auto;
  margin-right: auto;
} */

.cmTable {
  padding: 0 1%;
  /* margin: auto; */
  /* border-style: solid; */
  justify-content: space-between;
}

.tableContent {
  border-style: solid;
  margin: auto;
}

.rankCol {
  display: flex;
  /* border-style: dotted; */
}

.rankColObj {
  margin: auto;
  /* border-style: dotted; */
}

.taskCheckbox {
}
