.MockCalendar img {
  height: 300px;
  width: auto;
}

.Box {
  text-align: center;
  flex-basis: 50%;
  flex-grow: 0;
  border-style: solid;
  margin-left: 2%;
  height: 100%;

  margin-right: 2%;
}
