.TaskManager {
  text-align: center;
  flex-basis: 50%;
  flex-grow: 0;
  /* border-style: dotted; */
  padding: 1rem;
  border-collapse: separate;
  border-spacing: 50px;
  /* resize: both;
  overflow: auto; */
  width: 100%;
}

 {
  /*
.paddingBetweenCols th {
  padding: 0 15px;
}
*/
}

.Box {
  text-align: center;
  flex-basis: 50%;
  flex-grow: 0;
  /* border-style: solid; */
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
  width: 50%;
}

.TMButtonParent {
  display: flex;
  height: 40px;
  justify-content: space-around;
}

.TMButtonLeft {
  flex-grow: 1;
  width: 30%;
  white-space: nowrap;
}

.TMButtonMiddle {
  flex-grow: 1;
  width: 30%;
  white-space: nowrap;
}

.TMButtonRight {
  flex-grow: 1;
  width: 30%;
  white-space: nowrap;
}

.TaskList {
  margin-top: 3rem;
}
