.TaskManager {
  text-align: center;
  flex-basis: 50%;
  flex-grow: 0;
  /* border-style: dotted; */
  padding: 1rem;
  border-collapse: separate;
  border-spacing: 50px;
  /* resize: both;
  overflow: auto; */
  width: 100%;
}

.BoxTM {
  text-align: center;
  flex-basis: 100%;
  flex-grow: 0;
  /* border-style: solid; */
  margin-left: 1%;
  margin-right: 1%;
  height: 100%;
  min-width: 40%;
  max-width: 40%;
}

.TMButtonParent {
  display: flex;
  height: 40px;
  justify-content: space-around;
  /* white-space: wrap;
  flex-wrap: wrap; */
}

.TMButtonChild {
  flex-grow: 1;
  width: 25%;
  white-space: nowrap;
  /* flex-wrap: wrap; */
}

.TMButtonLeft {
  flex-grow: 1;
  width: 25%;
  white-space: nowrap;
}

.TMButtonMiddle {
  flex-grow: 1;
  width: 25%;
  white-space: nowrap;
}

.TMButtonRight {
  flex-grow: 1;
  width: 40%;
  white-space: nowrap;
  /* flex-wrap: wrap; */
}

.TaskList {
  margin-top: 3rem;
}

.MyModules {
  margin-top: 3rem;
}

.reverseButton {
  min-width: 5%;
  max-width: 5%;
  white-space: nowrap;
  /* flex-wrap: wrap; */
}

.rowBar {
  display: flex;
  margin-top: 1rem;
}

.rowFoo {
  display: flex;
  /* margin-top: 0.5rem; */
}

.text {
  text-align: center;
  font-size: 1rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  margin-top: 1.5rem;
}
