.dayGridParent {
  display: flex;
  flex-direction: row;
  /* border-style: solid; */
}

.dayGridChild {
  flex-grow: 1;
  height: 100%;
}

.dayGridChildTime {
  flex-grow: 0.1;
  height: 100%;
}
