.App {
  font-family: sans-serif;
  text-align: left;
  max-width: 64rem;
  margin: 0 auto;
  /* border-style: solid; */
}

.Calendar {
  text-align: center;
  flex-basis: 50%;
  flex-grow: 0;
  /* border-style: solid; */
  margin-left: 2%;
  margin-right: 2%;
  max-width: 40%;
  height: 100px;
  background-color: rgba(136, 134, 30, 0.199);
}
